*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}
 a{
        text-decoration: none !important;
        color: black !important;
        font-size: 1.5rem !important;
        font-weight: 400 !important;
  }
   
// start  right sidebar
.div{
    display: none !important;
}
  .sb-right{
    padding-right: 10px !important;
    border-right: lightgrey 1px solid;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    div{
        height: 80% !important;
         a{
            line-height: 24px !important;
            font-size: 1.5rem !important;
            padding:8px 25px 8px 8px  !important;
            width: fit-content !important;
            span{
                font-size: 1.5rem;
            }
            .home{
                font-weight: 700;
            }
            i{
                color: black;
                font-size: 2.3rem;
                margin-right: 15px !important;   
            }
            &:first-child{
                padding:8px 8px  !important;
                border-radius: 50% !important;
    
                i{
                    margin: 0% !important;
                    color: rgb(29, 161, 242);
                }
                &:hover{
                    background-color:rgba(29, 161, 242,0.3) ;
                }
            }
             
            &:hover{
                background-color:rgba(110,118,125,0.3);
                border-radius: 9999px;
            }
            .more{
                border: black 2px solid;
                border-radius: 50%;
                padding: 1px !important;
            }
        }
        button{
            color: white !important;
            background-color: #1DA1F2 !important;
            cursor: pointer; 
            font-size: 1.7rem !important;
            font-weight: 700 !important;
            transition-duration: 0.2s !important;
            width:120% !important; 
            &:hover{
            background-color:rgba(29,155,240,0.7)!important ;
            }
        }
    }
    
    .acount{
         padding-top: 70px !important;
         height: 19% !important;
         padding-bottom: 20px !important;
        .acountimg{
            width: 18% !important;
            height: 18% !important;
        }
        i{
            color: black !important;
        }
        a{  
            margin-left: 20% !important;
            padding:8px 20px 8px 8px  !important;
            width: fit-content !important;
            &:hover{
                background-color:rgba(110,118,125,0.3) !important;
                border-radius: 9999px !important;
            }
        }
        
    }
  }
//   end right bar

// start main
 main{
    
    .main-div{
        background-color: white;
    }
 }

// end main 
// start left bar
.lf-sidbar{
    border-left: lightgrey 1px solid !important;
    max-height: 100% !important;
 .ssss{
    background-color: white;
    padding-top: 2%  !important;
    padding-bottom: 2% !important;
    padding-left: 5% !important;
    .search-div{
        background-color: rgba(170, 184, 194,.2) !important;
        width: 90% !important;
        &:focus{
           border: 1px solid #1DA1F2 !important;
           background-color: white !important;
        }
     }
 }
.ends{
    margin-top: 5% !important;
    width: 100% !important;
    height: 20% !important;
    .end{
        width: 80% !important ; 
       a{
          margin-left: 2% !important; 
          color: rgb(110,118,125) !important;
          &:hover{
            text-decoration: underline !important;
          }
        }}
  .end-1{
            width: 70% !important;  
       a{
            margin-left: 3.5% !important;
            color: rgb(110,118,125) !important;
            &:hover{
                text-decoration: underline !important;
            }
        }}
       .p {
            color: rgb(110,118,125) !important;
            width: 80% !important;
            font-size: 1.5rem !important;
        }      

 }}
//  -------------------------------------------------------------------------------
@media (max-width:992px) and (min-width:768px){
    .sb-right {
        align-items: end !important;
        span{
        display: none !important;
       }
      div a{
        padding: 9px 9px !important;
        i{
            margin: 0 !important;
        }
        &:hover{
            background-color:rgba(110,118,125,0.3) !important;
            border-radius: 50% !important;
        }
        &:first-child:hover{
            background-color:rgba(29, 161, 242,0.3) !important;
        }}
        button{
            display: none !important;
        }
        .tweet-round {
            display: inline-block !important;
        }
        .tweet_btn{
            display: flex !important;
            fill: white !important;
            background-color: #1DA1F2 !important;
            cursor: pointer; 
            font-size: 1.7rem !important;
            font-weight: 700 !important;
            width:50px !important;
            height: 50px !important; 
            padding: 10px  0 !important;
            border-radius: 50% !important;
        }
      .acount {
        padding-top: 50px !important;
        div,i{
            display: none !important;
        }
        .acountimg{
            margin: 0 !important;
            padding: 0 !important;
            width: 50px !important;
            height: 50px !important;
        }
        a{
            justify-content: space-around !important;
            padding: 100px !important;
            &:hover{
                background-color:rgba(110,118,125,0.3) !important;
                border-radius: 50% !important;
            }
        }
      }
     } 
}
@media (min-width:576px)and(max-width:767px){
    .lf-sidbar{
        display: none !important;
    }
    .sb-right {
        display: none !important;
        padding-right:10px !important;
        align-items: end !important;
        span{
        display: none !important;
       }
      div a{
        padding: 9px 9px !important;
        i{
            margin: 0 !important;
        }
        &:hover{
            background-color:rgba(110,118,125,0.3) !important;
            border-radius: 50% !important;
        }
        &:first-child:hover{
            background-color:rgba(29, 161, 242,0.3) !important;
        }}
        button{
            display: none !important;
        }
        .tweet-round {
            display: inline-block !important;
        }
        .tweet_btn{
            display: flex !important;
            fill: white !important;
            background-color: #1DA1F2 !important;
            cursor: pointer; 
            font-size: 1.7rem !important;
            font-weight: 700 !important;
            width:55px !important;
            height: 55px !important; 
            padding: 10px  0 !important;
            border-radius: 50% !important;
        }
      .acount {
        padding-top: 30px !important;
        div,i{
            display: none !important;
        }
        .acountimg{
            margin: 0 !important;
            padding: 0 !important;
            width: 45px !important;
            height: 45px !important;
        }
        a{
            justify-content: space-around !important;
            padding: 100px !important;
            margin-left: 0 !important;
            &:hover{
                background-color:rgba(110,118,125,0.2) !important;
                border-radius: 50% !important;
            }
        }
      }
     } 
    } 
 
@media (max-width:576px){
    .lf-sidbar{
        display: none !important;
    }
    .sb-right{
        display: none !important;
//         .xxx{
//            flex-direction: row !important;
//            position: fixed !important;
//            top:100vh !important;
//            bottom: 0 !important;
//            left: 0px !important;
//            right: 0 !important;
//            width: 100% !important;
//      }
// height: 25px !important;
// position: relative;
         }
    }
     
 
 