/* You can add global styles to this file, and also import other style files */
body{
    margin: 0 auto !important;
    max-width: 5550px !important;
    background-color: rgba(100, 148, 237, 0.37);
}