.follow_profile {
    width: 100% !important;
    height: 70px !important;
    margin-top: 5px !important;
    padding: 30px 15px !important;
}

.follow_profile:hover {
    cursor: pointer;
    background-color: rgba(110, 118, 125, 0.1) !important;
}

.follow_details {
    margin-left: 10px !important;
}

.follow_details a {
    color: black;
    text-decoration: none;
    font-size: 1rem !important;
    font-weight: 700 !important;
}

.follow_details a:hover {
    text-decoration: underline !important;
}

.follow_details span {
    color: rgb(110, 118, 125) !important;
    font-size: .9rem !important;
    font-weight: 400 !important;
}

.img_profile {
    width: 40px !important;
    height: 40px !important;
}

.follow .tweet_button {
    width: 75px !important;
    height: 30px !important;
    margin: 0 0 0 12px !important;
    font-weight: 600 !important;
    font-size: .6rem !important;
    background-color: black !important;
    color: white !important;
    padding: 1.5% !important;
}

.follow .tweet_button:hover {
    background-color: rgba(0, 0, 0, .5);
}

/* .follow_cont{
    display: flex;
    justify-content: space-between !important;
} */
