.maindiv {
  //background-color: #F5F8FA;
  //background-color: var(--bs-bg-element);
  display: flex;
  flex-direction: column;
  border-radius: 16px;

  .show_more {
    text-decoration: none !important;
    display: flex;
    align-items: center;
    //color: hsl(204, 76%, 47%) !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    width: 100% !important;
    padding: 15px !important;
    border-bottom-right-radius: 16px !important;
    border-bottom-left-radius: 16px !important;

    &:hover {
      cursor: pointer;
      background-color: rgba(110, 118, 125, 0.1) !important;
    }
  }
}

.follow {
  border-radius: 16px !important;
  //background-color: rgb(247, 249, 249) !important;

  .show_more {
    text-decoration: none !important;
    display: flex;
    align-items: center;
    //color: hsl(204, 76%, 47%) !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    width: 100% !important;
    padding: 15px !important;
    border-bottom-right-radius: 16px !important;
    border-bottom-left-radius: 16px !important;

    &:hover {
      cursor: pointer;
      background-color: rgba(110, 118, 125, 0.1) !important;
    }
  }
}

//.masseg {
//  width: 100% !important;
//  position: relative !important;
//}


.icon-massege {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  text-align: center;
}

.a-icon {
  //color: black;
  padding: 4px !important;
  // height: 30 !important;
  width: 40px !important;
  margin-right: 3% !important;
}

.a-icon:hover {
  background-color: rgba(110, 118, 125, 0.3) !important;
  border-radius: 50% !important;
}

.search-details {
  //background-color: white;
  padding-top: 2% !important;
  padding-bottom: 2.5% !important;
  padding-left: 3.5% !important;

  .search-div {
    box-shadow: none !important;
    width: 97% !important;

    &:focus {
      //border: 1px solid #1DA1F2 !important;
      //background-color: white !important;
    }
  }
}

.ends {
  margin-top: 2% !important;
  width: 100% !important;
  height: 100px;
  //height: 20% !important;
  .end {
    width: 100% !important;
    margin: 11px 11px 0 11px;
  }

  .end-1 {
    width: 100% !important;
    margin: 0px 11px;
  }

  .copywrite {
    //color: rgb(110, 118, 125) !important;
    width: 100% !important;
    font-size: 14px !important;
    margin: 0px 17px;
  }

}
