
  .load-spiner {
    animation: spinner-spin 2s linear infinite;
  
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10% auto;

    transform: translate(0%, 0%);
  }
  #spinner {
    
    color: #1DA1F2;
    width:30px;
    height:30px;
    border-right:2px solid #1DA1F2;
    border-left:2px solid #1DA1F2;
    border-top:2px solid #1DA1F2;
    
    border-radius: 50%;
  }

  @media (prefers-reduced-motion: no-preference) {
    spinner {
    animation: spinner-spin infinite 20s linear;
    }
    }
    
    @keyframes  spinner-spin {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
    }



 
   
  
  