.left-pane {
  background: #fff;
  color: black;
  max-height: 100vh;

  // .container {
  //   position: fixed;
  // }
 .hedersection{
position: fixed;
 }
  header svg {
    height: 1.9em;
    // width: 2.5em;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    margin-left: 4em;
    color:#0f90e5;
    // &:hover{
    //   border-radius: 50%;
    //   background: rgba(15, 20, 25, 0.1);
    // }
  }

  nav svg {
    height: 1.3em;
    margin-right: 0.9em;
  }

  nav {
    padding-left: 3.3em
  }
  
  nav>*,
  button.more {
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    font-weight: 500;
    width: 100%;
    cursor: pointer;

    .spanicon {
      display: flex;
      align-items: center;
      height: 2.4em;
      width: fit-content;
      padding: 0 0.7em;
    }

    &:hover .spanicon{
      color: black;
      border-radius: 1.5em;
      background: rgba(15, 20, 25, 0.1);
    }
  }

  // nav .selected {
  //   color: black;
  // }

  button {
    background: unset;
    border: unset;
  }

  .tweet {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1da1f2;
    color: #fff;
    width: 11em;
    height: 3em;
    border-radius: 1.5em;
    font-size: 1em;
    margin-top: 0.5em;
    margin-left: 3.7em;
    cursor: pointer;

    &:hover {
      background: #0f90e5;
    }
  }

  footer {
    position: fixed;
    align-items: center;
    bottom: 1.5em;
    margin-left: 3.7em;

    button.account {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: fit-content;
      font-size: 1em;

      .photo {
        border-radius: 50%;
        height: 2.5em;
        width: 2.5em;
        background: #192734;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
     .acountdetails{ 
      display: flex;
      flex-direction: column;
      .name {
        color: black;
        font-weight: 700;
      }

      .username {
        color: #8899a6;
      }
    }
      span {
       font-size: 20px;
       font-weight: bold;
       color: black;
       margin-left: 25px;
      }
  &:hover{
    border-radius: 2em;
    background: rgba(15, 20, 25, 0.1);
  }
    }
  }
}


