* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Poppins", "sans-serif";
}

body {
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 24px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0 10px 8%;
  position: sticky;
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-links a {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 8px 25px 8px 8px;
  width: fit-content;
}

.nav-links a i {
  font-size: 2.3rem;
  margin-right: 15px;
}

.nav-links a:hover, .main_account a:hover {
  background-color: rgba(110, 118, 125, 0.3);
  border-radius: 9999px;
}

.nav-links a:first-child {
  padding: 8px 8px;
}

.nav-links a:first-child i {
  margin: 0%;
  color: #1C88d2;
}

.tweet_button {
  background-color: rgb(29, 155, 240);
  height: 55px;
  border-radius: 9999px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 1.7rem;
  color: white;
  font-weight: 700;
  border: 1px solid white;
  padding: 5%;
  transition-duration: 0.2s;
}

.tweet_button:hover {
  background-color: rgba(29, 155, 240, 0.7);
}

.main_account {
  height: 30%;
  padding-top: 115px;
}

.main_account a {
  display: flex;
  justify-content: space-between;
  padding: 8px 10px 8px 15px;
  margin-right: 10px;
  align-items: center;
}

.img_profile {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: white;
}

.account_details {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  margin-left: 10px;
  font-size: 1.5rem;
  line-height: 20px;
}

.account_name {
  font-weight: 500;
}

.account_handle {
  color: rgb(110, 118, 125);
}

#search-icon {
  background-color: #eff3f4;
}

#input-bar {
  width: 82%;
  border-radius: 25%;
  height: 41px;
  outline: none;
  background-color: #eff3f4;
  font-size: 1.5rem;
}

#setting {
  margin-left: 4rem;
}

#setting:hover {
  background-color: rgba(218, 217, 217, 0.768627451);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

#pills-tab li button {
  color: #777;
  border: 0;
  background-color: transparent;
  padding: 1rem;
}

#pills-tab li button:hover {
  background-color: #d7d6d6;
}

#pills-tab li button:focus {
  border-bottom: 4px solid #1d9bf0;
  color: #222;
}

.trend-card:hover {
  background-color: #f3f3f3;
}

.trend-card:hover i:hover {
  background-color: #d2f7ff;
  border-radius: 50%;
}

.trends {
  transform: translate3d(-26px, -4px, 0px) !important;
  width: 195px;
  border-radius: 6px;
}

.trends li:hover {
  background-color: rgba(218, 217, 217, 0.768627451);
  padding-top: 1rem;
}

.side_feed {
  padding: 0 2%;
}

.search {
  display: flex;
  height: 55px;
  max-width: 355px;
  position: sticky;
  top: 0;
  padding-top: 5px;
  background-color: white;
}

.search input {
  background-color: white;
  border-radius: 9999px;
  height: 45px;
  width: 100%;
  border: 1px solid rgba(110, 118, 125, 0.4);
  padding-left: 30px;
  font-size: 1.5rem;
  color: white;
  line-height: 20px;
  font-weight: 400;
  background-color: rgba(110, 118, 125, 0.1);
}

@media (max-width: 880px) {
  #side_feed {
    display: none;
  }
  .nav_links {
    width: 80%;
  }
  .spn {
    display: none;
  }
  .nav-item {
    font-size: 16px;
    font-weight: bold;
  }
}
@media (max-width: 585px) {
  #side_feed {
    display: none;
  }
  .nav_links {
    width: 80%;
  }
  .spn {
    display: none;
  }
  .nav-item {
    font-size: 10px;
    font-weight: bold;
  }
  .trending-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 16px;
  }
  .trending-part h4 {
    display: flex;
    justify-content: center;
    align-items: flex-end !important;
  }
  .trends {
    width: 100%;
  }
  .trends li {
    width: 100%;
  }
  .trend-card {
    display: flex;
    flex-direction: column;
  }
  .followers {
    display: flex;
    flex-direction: column;
    font-size: larger;
    font-weight: bold;
  }
}

/*# sourceMappingURL=explore.css.map */
