.tweet-card-hover {
  background-color: transparent;
  transition: all 100ms ease;

  &:hover {
    background-color: rgba(0, 0, 0, .03);
  }
}

.feed_tweet {
  display: flex;
  width: 100% !important;
  min-height: 100px !important;
  padding: 12px 16px 0 16px !important;
  border-top: 1px solid rgba(110, 118, 125, 0.4) !important;
  border-bottom: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  cursor: pointer !important;
}

.feed_tweet_details {
  display: flex;
  flex-direction: column !important;
  width: 100% !important;
  margin-left: 12px !important;
}

.feed_tweet .img_profile {
  cursor: pointer;
  width: 9%;
  height: 9%;
  border-radius: 50%;
}

.feed_tweet {
  color: rgb(110, 118, 125) !important;
}

.tweeter_details {
  display: flex;
  align-items: flex-start !important;
  justify-content: space-between !important;
}

.tweeter_details .tweeter_name {
  padding-top: 2% !important;
}

.tweeter_details a {
  text-decoration: none;
  color: black;
  font-weight: 700 !important;
  font-size: 15px;
}

.tweeter_details a:hover {
  text-decoration: underline;
}

.tweeter_details span {
  color: rgb(110, 118, 125) !important;
  font-weight: 400 !important;
  margin-left: 3px !important;
}

.tweet_text {
  color: black !important;
  width: 100% !important;
  padding-top: 1% !important;
}

.tweet_icons {
  display: flex;
  justify-content: space-between !important;
  width: 100% !important;
  margin: 5px auto !important;
  padding-right: 50px !important;
}
.tw-navbar-link-card {
  text-decoration: none !important;
  &:hover{
    text-decoration: underline !important;
  }
}
//$primary-icon-bg: rgba(29, 155, 240, .1);
//$primary-icon-color: rgba(29, 155, 240);
//
//$heart-icon-bg: rgba(255, 192, 200, 0.7);
//$heart-icon-color: rgba(211, 46, 110, .7);
//
//$second-icon-bg: rgba(0, 186, 124, .1);
//$second-icon-color: rgba(0, 186, 124);
//
//
//@mixin i-bg($type) {
//  @if $type == primary {
//    background-color: transparent;
//    transition: all 100ms ease;
//    &:hover {
//      background-color: $primary-icon-bg;
//      color: $primary-icon-color;
//    }
//  }
//  @else if($type == second) {
//    background-color: transparent;
//    transition: all 100ms ease;
//    &:hover {
//      background-color: $second-icon-bg;
//      color: $second-icon-color;
//    }
//  }
//}
//
//
//.i-bg-primary {
//  @include i-bg(primary)
//}
//
//.i-bg-second {
//  @include i-bg(second)
//}
//
//.icon-bg {
//  height: 30px;
//  width: 30px;
//  border-radius: 50%;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}
//
//.icon-button svg {
//  width: 20px;
//}
//
//.icon-button {
//  display: flex;
//  align-items: center;
//  cursor: pointer;
//}
//
//.heart-icon {
//  background: url("../../assets/heart.png") left;
//  width: 50px;
//  height: 50px;
//  position: absolute;
//
//}
//
//.heart-icon.liked {
//  animation: like-anim 0.7s steps(28) forwards;
//}
//
//@keyframes like-anim {
//  to {
//    background-position: right;
//  }
//}
//
//.bg-heart {
//  background-color: transparent;
//  transition: all 100ms ease;
//  &:hover {
//    background-color: rgba(255, 192, 200, 0.7);
//  }
//}
//
//.icon-amount {
//  margin-left: 5px;
//  font-weight: lighter;
//  font-size: 12px;
//}
