// Import custom bootstrap
@use "_vendor/bootstrap.custome";

:root {
  --backdrop-bg: bootstrap.$backdrop-light;
  --bs-bg-element: bootstrap.$bg-element;
}

.btn-primary {
  @extend .btn-primary;
  color: bootstrap.$light !important;

  &:hover, :active {
    color: bootstrap.$light !important;
  }
}


// Font Family
$font-path: "fonts";

@font-face {
  font-family: 'Chirp';
  font-style: normal;
  font-weight: 300;
  src: local('Chirp'), url('#{$font-path}/ChirpRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'Chirp';
  font-style: normal;
  font-weight: 500;
  src: local('Chirp'), url('#{$font-path}/ChirpMedium.woff') format('woff');
}

@font-face {
  font-family: 'Chirp';
  font-style: normal;
  font-weight: 700;
  src: local('Chirp'), url('#{$font-path}/ChirpBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Chirp';
  font-style: normal;
  font-weight: 800;
  src: local('Chirp'), url('#{$font-path}/ChirpHeavy.woff2') format('woff2');
}

@font-face {
  font-family: 'ChirpExtended';
  font-style: normal;
  font-weight: 800;
  src: local('ChirpExtended'), url('#{$font-path}/ChirpExtendedHeavy.woff') format('woff');
}

@import "~bootstrap/scss/_functions";
$form-focus-border-color: bootstrap.$primary;

.form-control,
input,
.form-select {
  background-color: transparent !important;
}

.form-control:focus,
.form-control:not(.is-invalid):focus {
  @extend .form-control;
  border-color: $form-focus-border-color;
  box-shadow: unset;
  border-width: 2px;
}

.is-valid:focus {
  border-color: $form-focus-border-color;
}

.form-floating {
  @extend .form-floating;

  > .form-control:not(.is-invalid):focus
  ~ label {
    color: $form-focus-border-color;
  }

  > .form-control:is(.is-invalid):focus
  ~ label {
    color: bootstrap.$form-feedback-invalid-color;
  }
}

.tw-profile-image {
  object-fit: cover;
  width: 48px;
  height: 48px;
}


.tweet-image {
  padding: 0 16px 0 0;
  display: grid;
  grid-template-columns: repeat(2, auto) max-content;
  grid-template-rows: auto auto;
  overflow: hidden;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.tweet-image img, .tweet-image video {
  width: 550px;
  height: 350px;
  object-fit: cover;
  overflow: clip;
}

.tweet-image img:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2 !important;
}

.tweet-image img:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3 !important;
}

.tweet-image img:nth-child(3) {
  grid-area: 2 / 1 / 3 / 2 !important;
}

.tweet-image img:nth-child(4) {
  grid-area: 2 / 2 / 3 / 3 !important;
}


$primary-icon-bg: rgba(29, 155, 240, .1);
$primary-icon-color: rgba(29, 155, 240);

$heart-icon-bg: rgba(255, 192, 200, 0.7);
$heart-icon-color: rgba(211, 46, 110, .7);

$second-icon-bg: rgba(0, 186, 124, .1);
$second-icon-color: rgba(0, 186, 124);


@mixin i-bg($type) {
  @if $type == primary {
    background-color: transparent;
    transition: all 100ms ease;
    &:hover {
      background-color: $primary-icon-bg;
      color: $primary-icon-color;
    }
  } @else if ($type == second) {
    background-color: transparent;
    transition: all 100ms ease;
    &:hover {
      background-color: $second-icon-bg;
      color: $second-icon-color;
    }
  }
}


.i-bg-primary {
  @include i-bg(primary)
}

.i-bg-second {
  @include i-bg(second)
}

.icon-bg {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button svg {
  width: 20px;
}

.icon-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.heart-icon {
  background: url("../assets/heart.png") left;
  width: 50px;
  height: 50px;
  position: absolute;

}

.heart-icon.liked {
  animation: like-anim 0.7s steps(28) forwards;
}

@keyframes like-anim {
  to {
    background-position: right;
  }
}

.bg-heart {
  background-color: transparent;
  transition: all 100ms ease;

  &:hover {
    background-color: rgba(255, 192, 200, 0.7);
  }
}

.icon-amount {
  margin-left: 5px;
  font-weight: lighter;
  font-size: 12px;
}

.bg-hover:hover {
  background-color: bootstrap.$bg-hover;
}

.bg-element {
  background-color: bootstrap.$light;
}

@media screen and (max-width: 1004px) {
  .border {
    border-right: unset  !important;
    border-top: unset !important;
    border-left: bootstrap.$border-width bootstrap.$border-color bootstrap.$border-style;
  }
}

.overflow-y-auto::-webkit-scrollbar {
  scrollbar-width: none;
  display: none;
}

.h-10 {
  height: 75% !important;
}