.main-area {
  height: 100vh !important;
}

/* Navbar Component */
.tw-navbar {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.tw-navbar-link {
  text-decoration: unset;
}

.tw-navbar-item {
  width: fit-content;
  font-size: 20px;
  font-weight: 300;
  text-decoration-style: unset;
  padding: 12px;
  display: flex;
  justify-content: center;
  border-radius: 9999px;
  transition: ease-in all 0.2s;
}
.tw-navbar-item:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.tw-navbar-item a:hover {
  /*color: black;*/
}

.tw-navbar-link {
  /*align-self: center;*/
  /*color: black;*/
}

.tw-navbar-brand {
  font-size: 28px;
  height: 50px;
  width: 50px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  transition: ease-in all 0.2s;
  margin-top: 8px;
}
.tw-navbar-brand:hover {
  background-color: var(--bs-primary);
  opacity: 0.1;
}

/*.tw-navbar-brand a:hover {*/
/*  color: black;*/
/*}*/

.tw-navbar-item i:first-child {
  margin-right: 10px;
}

@media (max-width: 1281px) {
  .tw-navbar-text {
    display: none;
  }
  .tw-navbar-item {
    width: fit-content;
    text-decoration-style: unset;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    border-radius: 9999px;
    transition: ease-in all 0.2s;
    min-height: 50px;
  }
  .tw-navbar-item:hover {
    background-color: rgba(15, 20, 25, 0.1);
  }
  .tw-navbar-item a:hover {
    /*color: black;*/
  }

  .tw-navbar-item i:first-child {
    margin: 0;
  }

  .tw-navbar {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
}
/* End Navbar Component*/
