.stepper
{
  width: 100%;
  align-items: center;

}
.stepper1
{
  width: 100%;
  align-items: center;
}
#PasswordShowing {

  position:absolute;
  bottom:69%;
  left:85%;
  cursor: pointer;
 
}
.image-upload {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: rgb(0 0 0 / 12%) 0px 3px 6px, rgb(0 0 0 / 20%) 0px 3px 6px;
  margin: 100px auto 0px auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://abs.twimg.com/sticky/default_profile_images/default_profile_400x400.png");
}
.image-upload > input
{
  display: none;
}

.image-upload i
{
  cursor: pointer;
  position: absolute;
  top: 52%;
  left:48%;
  font-size: 30px;
  color: var(--white);
  text-align: center;
}