$--tw-hover-color: rgba(15, 20, 25, 0.1);
$--tw-link-color: black;
$--tw-hover-color: rgba(15, 20, 25, 0.1);
$--tw-primary: #308ed7;

a {
  text-decoration: none;
  color: $--tw-link-color;
}

.pin {
  color: $--tw-primary;
}

a:hover {
  text-decoration: underline;
}

.tw-list-item:hover {
  background-color: $--tw-hover-color;
}

.icon-hover-main {
  padding: 10px;
}

.list-img {
  width: 48px;
  height: 48px;
}

.list-img > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.tw-profile-link {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.tw-profile-link > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.icon-hover-main:hover {
  background-color: $--tw-hover-color;
  border-radius: 50%;
}