.New-to-Twitter {

    /*width: 28%;*/

}

.createAccount-button {
    align-items: center;
}

@media (max-width: 576px) {
    .New-to-Twitter {
        display: none;
    }

}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 1200px) {
    .New-to-Twitter {
        display: none;
    }

}
